<footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="https://cris.fau.de/" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            CRIS Website
          </a>
          <a href="mailto:cris-support@fau.de" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Support
          </a>
        </div>

      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            FAU Current Research Information System (CRIS) - Dashboard
          </p>
        </div>
      </div>
    </div>
  </footer>
  